In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../data/data.csv')
data['Datetime'] = data['Date'].astype('datetime64[ns]') + data['Hour'].astype('timedelta64[h]')

In [3]:
data

,Date,Hour,Price ($/MWh),Regional Power Demand (MW),Datetime
0,7/12/2021,1,31.30,11866.66667,2021-07-12 01:00:00
1,7/12/2021,2,31.44,11474.66667,2021-07-12 02:00:00
2,7/12/2021,3,30.95,11284.16667,2021-07-12 03:00:00
3,7/12/2021,4,31.47,11317.50000,2021-07-12 04:00:00
4,7/12/2021,5,31.47,11730.50000,2021-07-12 05:00:00
...,...,...,...,...,...
115,7/16/2021,20,NaN,16398.00000,2021-07-16 20:00:00
116,7/16/2021,21,NaN,15869.00000,2021-07-16 21:00:00
117,7/16/2021,22,NaN,14995.00000,2021-07-16 22:00:00
118,7/16/2021,23,NaN,13893.33333,2021-07-16 23:00:00
119,7/16/2021,24,NaN,12952.16667,2021-07-17 00:00:00